<main class="margin-top" th:fragment="login">

    <h3 class="margin-top">Login</h3>

    <form method="post" action="/login">
        <div class="text_input" >
            <label ><u>Enter your nickname</u></label>
            <input name="nickName" minlength="4"type="text" required>
        </div>

        <div class="text_input">
            <label><u>Enter your password</u></label>
            <input name="password" minlength="4" type="password" required>
        </div>
        <div>
            <button class="btn_submit" type="submit"><u>Sign in</u></button>
            <button class="btn_clear" type="reset"><u>Clear form</u></button>
        </div>
    </form>

 </main>
