<main class="margin-top" th:fragment="register">


  <h3 class="margin-top"> Create An Account</h3>
  <form method="post" action="/register">

    <div class="font_input">
      <label><u>Enter your full name</u></label>
      <input name="fullName" type="text" required>
    </div>
    <div class="font_input">
      <label><u>Enter your Nickname</u></label>
      <input name="nickName" minlength="4" type="text" required>
    </div>

    <div class="font_input">
      <label><u>Enter your password</u></label>
      <input name="password" minlength="4" type="password" required>
    </div>
    <div class="font_input">
      <label><u>Enter your phoneNumber</u></label>
      <input name="phoneNumber" type="text" required>
    </div>
    <div class="font_input">
      <label><u>Enter your email</u></label>
      <input name="email" type="email" required>
    </div>
    <div>
      <button class="button green-theme" type="submit">Register</button>
      <button class="button red-theme" type="reset">clear form</button>
    </div>
  </form>
</main>
