<main class="margin-top" th:fragment="register">


  <h3 class="margin-top"> Create An Account</h3>
  <form method="post" action="/register">

    <div class="text_input">
      <label><u>Enter your full name</u></label>
      <input name="fullName" type="text" required>
    </div>
    <div class="text_input">
      <label><u>Enter your Nickname</u></label>
      <input name="nickName" minlength="4" type="text" required>
    </div>

    <div class="text_input">
      <label><u>Enter your password</u></label>
      <input name="password" minlength="4" type="password" required>
    </div>
    <div class="text_input">
      <label><u>Enter your phoneNumber</u></label>
      <input name="phoneNumber" type="tel" pattern="[0-9]{8}"required placeholder="12345678">
    </div>
    <div class="text_input">
      <label><u>Enter your email</u></label>
      <input name="email" type="email" required>
    </div>
    <div class="text_input">
      <button class="btn_submit" type="submit"><u></u>Register</u></button>
      <button class="btn_clear" type="reset"><u>clear form</u></button>
    </div>
  </form>
</main>
