<main class="margin-top" th:fragment="todoForm" xmlns:th="">
    <form method="post" action="/todo">
        <div>
            <label>toBeDone</label>
            <input name="toBeDone" minlength="4"type="text" required>
        </div>
        <div>
            <label>timeLimit</label>
            <input name="timeLimit" minlength="4" type="datetime-local" required>
        </div>
        <div>
            <label>status</label>
            <input name="status" minlength="4" type="text" required>
        </div>
        <div>
            <button class="button green-theme" type="submit">Set</button>
            <button class="button red-theme" type="reset">Clear form</button>
        </div>
    </form>
</main>