<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Guest management</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row">
            <h1> Here we go!<br> Here You can manage list of guests!</h1>
        </div>
        <table style="width:100%">
            <tr>
                <td>Add Nickname</td>
                <td>Add Email</td>
                <td>Add phone number</td>
            </tr>
        </table>
        <div class="row">
            <div class="col-lg-3">
                <form method="post" action="/guestRegister">
                    <div class="row">
                        <div class="col-sm-4">
                            <input type="text" name="guestNickName" class="form-control" placeholder="Add nickname">
                        </div>

                        <div class="col-sm-7">
                            <input name="guestEmail" type="email" class="form-control" placeholder="Add email">
                        </div>

                        <div class="col-sm-7">
                            <input name="guestPhoneNumber" type="tel" class="form-control" placeholder="Add phone number">
                        </div>

                        <div class="col-sm-3">
                          <input name="guestProjectCode" type="hidden" value="1808" required><br>
                        </div>

                        <div class="col-sm-2">
                            <button class="button green-theme" type="submit">Add guest</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-sm">
            <caption>Provided list of guests!</caption>
            <thead class="table-purple">
                <tr>
                    <th>Nickname</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Invitation acceptance</th>
                    <th>Response date</th>
                    <th>Count</th>
                    <th>Comment from guest</th>
                    <th>Sent invitation link</th>
                    <th>Invitation date</th>
                    <th>Guest adding date</th>
                    <th>Guest info update date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="guest: ${guests}"> <!--each ir tieši Thymeleaf atribūts, kas prasa no guest tabulas pieprasīt katru viesi atsevišķi -->
                    <td th:text="${guest.guestNickName}"></td>
                    <td th:text="${guest.guestPhoneNumber}"></td>
                    <td th:text="${guest.guestEmail}"></td>
                    <td th:text="${guest.guestInvitationAcceptance}"></td>
                    <td th:text="${guest.guestResponseDate}"></td>
                    <td th:text="${guest.guestCount}"></td>
                    <td th:text="${guest.guestComment}"></td>
                    <td th:text="${guest.invitationSent}"></td>
                    <td th:text="${guest.guestInvitationDate}"></td>
                    <td th:text="${guest.createdAt}"></td>
                    <td th:text="${guest.updatedAt}"></td>
                </tr>
            </tbody>
          </table>
    </div>
</body>
</html>
