<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>This is email for guest</title>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body>

<main class="container">
  <form action="#" method="post" th:action="@{/createEmail}" th:object="${guest}">
    <table style="width:80%">
      <tr>
        <td>Add Nickname</td>
        <td>Add Email</td>
        <td>Add phone number</td>
        <td> </td>
      </tr>
      <tr>
        <td>    <input type="text" th:field="*{guestNickName}" class="form-control"> </td>
        <td>    <input th:field="*{guestEmail}" type="email" class="form-control" ></td>
        <td>    <input th:field="*{guestPhoneNumber}" type="tel" class="form-control"></td>
        <td>    <button class="btn btn-primary" type="submit">Update guest info</button></td>
      </tr>
    </table>
    <input name="guestProjectCode" type="hidden" value="1808" required><br>
  </form>

  <!--
  <h3 class="mb-2">All Items</h3>
  <section class="container">
   <ol>
      <li th:each="guest: ${guestList}">
        <span th:text="${todo.getToBeDone()}"></span>
        <span th:text="${todo.getTimeLimit()}"></span>
        <span th:text="${todo.getStatus()}"></span>
        <a class="btn btn-secondary" th:if="${todo.getStatus().toString() != 'COMPLETED'}" th:href="${'/update-todo/' + todo.getId()}">Update</a>
        <a class="btn btn-success" th:if="${todo.getStatus().toString() != 'COMPLETED'}" th:href="${'/update-todo/status/' + todo.getId() + '/COMPLETED'}">Complete</a>
        <a class="btn btn-warning" th:if="${!todo.getStatus().toString().equals('INPROGRESS')}" th:href="${'/update-todo/status/' + todo.getId() + '/INPROGRESS'}">In Progress</a>
        <a class="btn btn-danger" th:href="${'/delete-todo/' + todo.getId()}">Delete</a>
      </li>
    </ol>
  </section>*/
</main>-->
</body>
</html>