<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <title>UserPage</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size:16px;}
        .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
    </style>
</head>
<body>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-purple w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>EVENT<br>ORGANIZER</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="#guests" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Guests</a>
        <a href="#todo" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Todo</a>
        <a href="#invitationPage" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">See invitation page</a>
        <br>
        <br>
        <a href="#logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Log Out</a>
    </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-container" id="beginning" style="margin-top:25px"></div>
<div class="w3-Main" id="beginning" style="margin-left:340px;margin-right:40px">
    <h1 class="w3-jumbo-50px"><b>Home</b></h1>
    <h1 class="w3-xlarge w3-text-purple"><b>Beginning.</b></h1>
    <hr style="width:50px;border:5px solid purple" class="w3-round">
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-container" id="guests" style="margin-top:75px"></div>
<div class="w3-main" id="guests" style="margin-left:340px;margin-right:40px">
    <h1 class="w3-jumbo-50px"><b>Guest managing</b></h1>
    <h1 class="w3-xlarge w3-text-purple"><b>Guests.</b></h1>
    <hr style="width:50px;border:5px solid purple" class="w3-round">

    <h3 class="margin-top"> Let`s put guest data`s in the table</h3>
             <div class="row" >
                <div class="col-lg-3">
                    <a th:href="@{/guest/new}" class="btn btn-primary btn-sm mb-3">Add new guest</a>
                </div>
            </div>
    </div>
    </main>

    </div>

       <table class="table table-sm" style="margin-left:340px;margin-right:40px">
          <caption>List of provided guests!</caption>
          <thead class="table-purple">
          <tr>
              <th>Nickname</th>
              <th>Phone number</th>
              <th>Email</th>
              <th>Invitation acceptance</th>
              <th>Comment from guest</th>
              <th>Invitation link</th>
              <th>Edit info</th>
              <th>Delete guest</th>
          </tr>
          </thead>

          <tbody>
          <tr th:each="guest: ${guestList}"> <!--each ir tieši Thymeleaf atribūts, kas prasa no guest tabulas pieprasīt katru viesi atsevišķi -->
            <td th:text="${guest.guestNickName}"></td>
            <td th:text="${guest.guestPhoneNumber}"></td>
            <td th:text="${guest.guestEmail}"></td>
            <td th:text="${guest.guestInvitationAcceptance}"></td>
            <td th:text="${guest.guestComment}"></td>
            <td> <a th:href="@{/showEmailForm/{guestEmail}(guestEmail=${guest.guestEmail})}" class="btn btn-primary">Send link</a></td>
            <td> <a th:href="@{/showUpdateForm/{guestEmail}(guestEmail=${guest.guestEmail})}" class="btn btn-primary">Edit info</a></td>
            <td> <a th:href="@{/deleteGuest/{guestId}(guestId=${guest.guestId})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>

</div>

<!-- To-DO LIST -->
 <!--   <div class="w3-container" id="designers" style="margin-top:75px">
         <h1 class="w3-xxxlarge w3-text-red"><b>TODO LIST</b></h1>
         <hr style="width:50px;border:5px solid red" class="w3-round">
        <section th:replace="~{fragments/todo :: todoForm}"></section>
     </div>-->

<div class="w3-Main" id="todo" style="margin-left:340px;margin-right:40px">

    <h1 class="w3-jumbo"><b>TODO LIST</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>What to do</b></h1>
    <hr style="width:50px;border:5px solid rgba(183,149,231,0.76)" class="w3-round">
    <h3 class="margin-top"> Let`s put data`s in the table</h3>
     <!-- Packages / Pricing Tables -->

    <!-- Services -->
    <div class="w3-container" id="invitationPage" style="margin-top:75px">

    </div>
</div>
<br>
<br>
<div class="w3-Main" id="invitationPage" style="margin-left:340px;margin-right:40px">
        <h1 class="w3-jumbo-50px"><b>This is invitation page</b></h1>
        <!-- Contact -->

        <div class="w3-container" id="designers" style="margin-top:20px">
            <h1 class="w3-xlarge w3-text-purple"><b>Invitation.</b></h1>
            <hr style="width:50px;border:5px solid purple" class="w3-round">
            <p>The best thing in the world.</p>
            <p><b>Our revelers</b>:</p>
        </div>
        <!-- revelers -->
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <img src="/w3images/team2.jpg" alt="John" style="width:100%">
                    <div class="w3-container">
                        <h3>John Doe</h3>
                        <p class="w3-opacity">groom</p>
                        <p>.........................</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
               <img src="/w3images/team1.jpg" alt="Jane" style="width:100%">
                    <div class="w3-container">
                        <h3>Jane Doe</h3>
                        <p class="w3-opacity">the bride</p>
                        <p>....................................</p>
                    </div>
            </div>
        </div>
    </div>
</div>
</div>
    <!-- Contact -->
<!-- logout -->
<div class="w3-container" id="logout" style="margin-top:75px"></div>
<div class="w3-Main" id="logout" style="margin-left:340px;margin-right:40px">
    <h1 class="w3-jumbo-50px"><b>Logout</b></h1>
    <hr style="width:50px;border:5px solid purple" class="w3-round">
    <p> See you next time!</p>
    <form action="/entry" target="_blank">
        <button type="logout" class="w3-button w3-block w3-padding-large w3-purple w3-margin-bottom">Logout</button>
    </form>
</div>
    <script>
        // Script to open and close sidebar
        function w3_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function w3_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>
</body>
</html>