<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <title>UserPage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
        body {font-size:16px;}
        .w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
        .w3-half img:hover{opacity:1}
        a:active {
            color: purple;
            background-color: transparent;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-purple w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:250px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>EVENT<br>ORGANIZER</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="#guests" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Guests</a>
        <a href="#invitationPage" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Invitation page</a>
        <br>
        <br>
        <form action="/entry" target="_blank">
            <button type="logout" href="#logout" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Log Out</button>
        </form>
    </div>
</nav>

<!-- !PAGE CONTENT! -->
<div class="w3-container" id="beginning" style="margin-top:25px"></div>
<div class="w3-Main" id="beginning" style="margin-left:300px;margin-right:40px">
    <h1 class="w3-jumbo-50px"><b>Home</b></h1>
    <h1 class="w3-xlarge w3-text-purple"><b>Beginning.</b></h1>
    <hr style="width:50px;border:5px solid purple" class="w3-round">
    <h3 class="margin-top"><u>What is Event organizer?</u></h3>
    <h4 >Right now it's just our final project!   </h4>
    <br>
    <h4 >BUT, this tool in future could be developed as a helper for: </h4>
    <ul style="list-style-type:circle">
        <li><u>Guest managing &#128111; </u></li>
              <ul>~ See acceptances for event participants</ul>
              <ul>~ Communicate with guests</ul>
              <ul>~ See guest needs</ul>
        <br>
        <li><u>Todo list managing &#128203;</u></li>
              <ul>~ Manage "todo" list</ul>
              <ul>~ See deadlines for todo</ul>
              <ul>~ See statuses of work to be done </ul>
        <br>
        <li><u>Budget &#128176;</u></li>
              <ul>~ Calculations linked to guest acceptances</ul>
              <ul>~ Calculations linked to items in the to-do list</ul>
              <ul>~ Independent budget positions </ul>
    </ul>


</div>
<!-- !PAGE CONTENT! -->
<div class="w3-container" id="guests" style="margin-top:75px"></div>
<div class="w3-main" id="guests" style="margin-left:300px;margin-right:40px">
    <h1 class="w3-jumbo-50px"><b>Guest managing</b></h1>
    <h1 class="w3-xlarge w3-text-purple"><b>Guests.</b></h1>
    <hr style="width:50px;border:5px solid purple" class="w3-round">
    <h3 class="margin-top"> Let`s put guest data`s in the table</h3>

    <a th:href="@{/guest/new}"class="btn btn-primary w3-large panel  w3-purple" style="border-radius: 10px 50px" >Add new guest</a>
</div>
<br>

<div class="w3-container">
    <table class="table w3-table-all-small" border="1px solid" style="margin-left:280px;margin-right:40px">

        <thead class="w3-medium">
        <tr class="w3-purple">
            <th>Nickname</th>
            <th>Phone number</th>
            <th>Email</th>
            <th>Acceptance</th>
            <th>Persons</th>
            <th>Comment</th>
            <th>Send link</th>
            <th>Edit info</th>
            <th>Delete guest</th>
        </tr>
        </thead>
        <tbody class="w3-left-align">
        <tr th:each="guest: ${guestList}"> <!--each ir tieši Thymeleaf atribūts, kas prasa no guest tabulas pieprasīt katru viesi atsevišķi -->
            <td th:text="${guest.getGuestNickName()}"></td>
            <td th:text="${guest.getGuestPhoneNumber()}"></td>
            <td th:text="${guest.getGuestEmail()}"></td>
            <td th:text="${guest.getGuestInvitationAcceptance()}"></td>
            <td th:text="${guest.getGuestCount()}"></td>
            <td th:text="${guest.getGuestComment()}"></td>
            <td> <a th:href="@{/guest/createEmail/{guestEmail}(guestEmail=${guest.getGuestEmail()})}" class="btn btn-primary">Send link</a></td>
            <td> <a th:href="@{/guest/showUpdateForm/{guestEmail}(guestEmail=${guest.getGuestEmail()})}" class="btn btn-primary">Edit info</a></td>
            <td> <a th:href="@{/guest/deleteGuest/{guestId}(guestId=${guest.getGuestId()})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<!-- !PAGE CONTENT! -->
<div class="w3-container" id="invitationPage" style="margin-top:75px"></div>
<div class="w3-Main" id="invitationPage" style="margin-left:300px;margin-right:40px">
    <h1 class="w3-jumbo-50px"><b>Invitation page</b></h1>
    <div class="w3-container" id="invitation" style="margin-top:20px">
        <h1 class="w3-xlarge w3-text-purple"><b>Invitation.</b></h1>
        <hr style="width:50px;border:5px solid purple" class="w3-round">
        <br>
        <h2>Every guest has his own keys to see invitation: </h2>
        <ul>
            <li>~Sent link in email</li>
            <li>~Project code as password (sent in email)</li>
            <li>~His own email address</li>
        </ul>
        <h2>See project invitation page </h2>
        <a href="/WelcomeToSeeInvitation" target="_blank" >Find me here</a>
    </div>
</div>
</body>
</html>