<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <title>todoPage</title>
</head>

<body>
<div class= "container">
    <div class="row">
    </div>
        <h1>todoList</h1>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">toBeDone</th>
                <th scope="col">timeLimit</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo:${todo}">
                <td th:text="${todo.toBeDone}"></td>
                <td th:text="${todo.timeLimit}"></td>
                <td th:text="${todo.status}"></td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
            </tbody>
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
    <div class="w3-container">
        <h3 class="w3-padding-64"><b>EVENT<br>ORGANIZER</b></h3>
    </div>
    <div class="w3-bar-block">

        <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">addTodo</a>

        <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">updateTodo</a>
        <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">allTodo</a>
    </div>
</nav>

</body>
</html>