<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>todoPage</title>
    <link rel="stylesheet"
          crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">todoPage</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/todo}">todo page</a>
            </li>
        </ul>
    </div>
</nav>

<div class= "container">
    <div class="row">

        <h1>todoList</h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <a th:href="@{/todo/new}" class="btn btn-primary btn-sm mb-3">add todo</a>
        </div>


        <table class="table table-striped table-bordered">
            <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">toBeDone</th>
                <th scope="col">timeLimit</th>
                <th scope="col">status</th>
                <th scope="col">action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="todo:${todo}">
                <td th:text="${todo.toBeDone}"></td>
                <td th:text="${todo.timeLimit}"></td>
                <td th:text="${todo.status}"></td>
                <td>
                    <a th:href="@{/todo/edit/{id}(id=${todo.id})}" class="btn btn-primary">Update</a>
                    <a th:href="@{/todo/{id}(id=${todo.id})}" class="btn btn-danger">Delete</a>

                </td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
            </tbody>


</body>
</html>