* {margin:0;padding:0;}
body{
    background-image: url('/images/freesia.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width:100vh;
    height:100vh;
}
h2{text-align:center;
}
body {
    margin-top: 150px;
    margin-block-start: auto;
    padding: 150px;
}
.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    font-family: Garamond;
    font-size: 23px;
    border-bottom: 2px solid #9415ED;
    max-width:500vh;
    height:20vh;
    padding: 0px 0px;
}
.tabs__label {
    padding: 15px 25px;
    cursor: pointer;
    color: #301934;
    font-weight: bold;
    border-bottom: 1px solid #EBD7FA;
    background-color: #C681F7;
    border-radius: 15px 50px;
}
.tabs__first:checked+.tabs__label {
    font-weight: bold;
    color: #301934;
    background-color: #9415ED;
    border-bottom: 1px solid #9415ED;
    border-radius: 15px 50px;
}
.tabs__content{
    order: 1;
    width: 100%;
    line-height: 5.5;
    font-size: 0.9em;
    display: none;
}
.tabs__first:checked+.tabs__label+.tabs__content {
    display: initial;
    width: 100%;
}
.tabs__first{
    display: none;
}